n8n/forge-confirmation-email.workflow.json
{
  "name": "Forge — TeleCRM Confirmation Email (Gmail) + Onboard + Log",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forge-telecrm",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "n1",
      "name": "Webhook (from TeleCRM)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// BUILD EMAIL PAYLOAD — Forge Confirmation (LINK-based PDF) + App credentials\n// Routes by product (FW/FC/FFM/FAI). Adds the Forge App access block + OTP line\n// to every cohort. Password = Firstname@Forge! (same as the app account).\n// =====================================================\n\nconst input  = $input.first().json;\nconst body   = input.body || input;\nconst fields = body.fields || body.lead || body;\n\nconst product = String(fields.product || '').toUpperCase().trim();\nconst email   = fields.email_1 || fields.email || '';\nconst name    = (fields.name || fields.first_name || '').trim() || 'there';\nconst amount  = fields.amount || '15000';\nconst phone   = fields.phone || fields.phone_number || fields.mobile || '';\n\n// ── Forge App credentials (same Firstname@Forge! the account uses) ──\nconst APP_URL   = 'https://app.forgebylevelup.com/auth';\nconst firstRaw  = name.split(/\\s+/)[0] || 'there';\nconst firstName = firstRaw.charAt(0).toUpperCase() + firstRaw.slice(1).toLowerCase();\nconst password  = `${firstName}@Forge!`;\n\nconst APP_ACCESS = `\n<div style=\"background:#f6f6f4;border:1px solid #e5e5e5;border-radius:10px;padding:16px 20px;margin:20px 0;\">\n  <p style=\"margin:0 0 8px;\"><strong>Your Forge App access</strong></p>\n  <p style=\"margin:0 0 10px;\">The Forge App is your command center — learning, community, your roadmap and full journey, all in one place. Your account is ready:</p>\n  <p style=\"margin:0;\">&#128279; Login: <a href=\"${APP_URL}\">${APP_URL}</a><br>&#128231; Email: <strong>${email}</strong><br>&#128273; Password: <strong>${password}</strong></p>\n  <p style=\"margin:10px 0 0;font-size:13px;color:#555;\">Prefer not to type a password? You can also log in with a one-time OTP sent to your registered phone number${phone ? ' (' + phone + ')' : ''} — just tap &ldquo;Login with OTP&rdquo; on the login screen. You can change your password anytime after your first login.</p>\n</div>`;\n\nconst WA_GROUP = 'https://chat.whatsapp.com/LQRc2E2SzyMJUkKw6oBnSR';\n\nfunction driveLink(fileId) {\n  return `https://drive.google.com/file/d/${fileId}/view?usp=sharing`;\n}\n\nconst PROGRAM_CONFIG = {\n  'FW': {\n    contentName: 'forge_writing',\n    programName: 'The Forge Writing Retreat',\n    pdfLink:     driveLink('11AhrwRQNXQXSsp7sSZJRdh-yokb-Kk0B'),\n    subject:     'Welcome to The Forge Writing Retreat — Your Seat is Confirmed',\n    body: `<p>Dear {{name}},</p>\n<p>Welcome to The Forge Writing Retreat, a space built for stories that have been waiting too long to be told. Congratulations, your seat is officially confirmed!</p>\n<p>Your confirmation payment has secured your place among a circle of screenwriters, authors, and storytellers who've chosen to step away from distraction and dive deep into their story. Over the residency, you'll reconnect with your voice, write stories that move, heal, and transform.</p>\n<p>At the Forge, we believe that writing is more than putting words on a page; it's a journey inward. You'll spend your days surrounded by nature, meaningful conversations, and fellow writers who understand what it means to create from a place of honesty and courage.</p>\n<p><strong>Here's what happens next</strong></p>\n<p><strong>Your Welcome Guide</strong><br>We've prepared a Welcome Guide that walks you through what to expect — from your daily schedule and workshops to glimpses of the magical experience that awaits you. <a href=\"{{pdfLink}}\">Click here to view your Welcome Guide</a>. It's the beginning of your next great chapter.</p>\n<p><strong>Join the Inner Circle</strong><br>You're now part of the LevelUp Inner Circle, a creative family of writers, filmmakers, and storytellers who support each other's journeys long after the retreat ends. You'll also get access to online writing sessions, community discussions, and exclusive alumni events.</p>\n<p><strong>Balance Payment</strong><br>Details regarding your balance payment, venue and dates will be shared with you in the next email, so stay tuned.</p>\n<p>Here's your community WhatsApp group: <a href=\"${WA_GROUP}\">Join the Forge Community</a></p>\n<p>You'll also be added to your respective Edition WhatsApp Group closer to the start of the retreat, where all updates and details will be shared.</p>\n<p>If you have any questions or need support, feel free to reach out anytime:<br>Email: <a href=\"mailto:forge@leveluplearning.in\">forge@leveluplearning.in</a><br>WhatsApp: Hiresh — 9840203604 (Program Lead) | Pranaush — 7397468193 (Head of Admissions)</p>\n<p>Writers often say that the Forge changed the way they look at their stories — and helped them discover a writing process they still use to this day.</p>\n<p>Welcome home, Writer. Your story begins now.</p>\n<p>With warmth and excitement,<br>Team Forge by LevelUp Learning.</p>`\n  },\n  'FFM': {\n    contentName: 'forge_fm',\n    programName: 'The Forge Filmmaking Bootcamp',\n    pdfLink:     driveLink('1RgognN9YiEg0zVa1akMrBKcjEkSyUgwM'),\n    subject:     'Welcome to The Forge Filmmaking Bootcamp — Your Seat is Confirmed',\n    body: `<p>Dear {{name}},</p>\n<p>Welcome to The Forge Filmmaking Bootcamp! Congratulations, your seat is officially confirmed!</p>\n<p>Your confirmation payment has locked in your spot, and you're now part of a tribe of dreamers-turned-doers who are about to live, breathe, and create cinema together.</p>\n<p>At Forge, you don't just learn filmmaking, you live it. From script to screen, you'll write, direct, shoot, and edit your very own short film alongside passionate creators from across the country. Over fifteen days online and offline, you'll collaborate, experiment, and tell stories that you have always wanted, and in the process, discover what it truly means to be a filmmaker.</p>\n<p><strong>Here's what happens next</strong></p>\n<p><strong>Your Welcome Guide</strong><br>We've prepared a Welcome Guide that walks you through what to expect at the bootcamp, from your daily schedule to a sneak peek of the experience that awaits you. <a href=\"{{pdfLink}}\">Click here to view your Welcome Guide</a>. Trust us, it will get you excited!</p>\n<p><strong>Join the Inner Circle</strong><br>You're now part of the LevelUp Inner Circle, your private creator community where you'll connect with mentors, alumni, and your batchmates — collaborators who'll stay with you long after the bootcamp ends. And also get access to our online community discussions and workshops, along with invites to exclusive events and productions.</p>\n<p><strong>Balance Payment</strong><br>Details regarding your balance payment, venue and dates will be shared with you in the next email, so stay tuned.</p>\n<p>Here's the link to the Community WhatsApp Group: <a href=\"${WA_GROUP}\">Join the Forge Community</a></p>\n<p>Don't worry, you will also be added to the Edition WhatsApp Group closer to the start of the program, where all the updates and info will be shared.</p>\n<p>Now, if you have any more doubts regarding what's next or anything else for that matter, feel free to reach out to us:<br>Email: <a href=\"mailto:forge@leveluplearning.in\">forge@leveluplearning.in</a><br>WhatsApp: Hiresh — 9840203604 (Program Lead) | Pranaush — 7397468193 (Head of Admissions)</p>\n<p>Our Alumni refer to the Forge as a once-in-a-lifetime experience, so brace yourself!</p>\n<p>And get ready to Lights, Camera, and Forge!</p>\n<p>Your Loudest Cheerleader,<br>Team Forge by LevelUp Learning.</p>`\n  },\n  'FAI': {\n    contentName: 'forge_ai',\n    programName: 'the Forge AI Residency',\n    pdfLink:     driveLink('1ugijAt2bwHptkPcop8GswXYHBYRpwIAc'),\n    subject:     'Welcome to the Forge AI Residency — Your Seat is Confirmed',\n    body: `<p>Dear {{name}},</p>\n<p>Welcome to the Forge AI Residency, a space built for the people who are done watching AI happen and ready to start building with it. Congratulations, your seat is officially confirmed!</p>\n<p>Your confirmation payment has secured your place among a small group of founders, marketers, and operators who have chosen to step into the biggest shift of our decade. Over the residency, you will stop consuming content about AI and start using it to ship real things — real products, real automations, real work that lives beyond the week.</p>\n<p>At the Forge, we believe AI is not a tool you learn. It is a way of working you adopt. You will spend your days surrounded by practitioners, fellow builders, and a room engineered for focus, where every hour is spent learning, building, and shipping alongside people who are taking this just as seriously as you are.</p>\n<p><strong>Here is what happens next:</strong></p>\n<p><strong>Your Welcome Guide</strong><br>We have prepared a Welcome Guide that walks you through what to expect, from your daily schedule and build sessions to the experience that awaits you. <a href=\"{{pdfLink}}\">Click here to view your Welcome Guide</a>. It is the start of how you adapt to what is coming.</p>\n<p><strong>Join the Inner Circle</strong><br>You are now part of the LevelUp Inner Circle, a community of founders, builders, and operators who support each other long after the residency ends. You will also get access to online sessions, community discussions, and exclusive alumni events.</p>\n<p>Here is your community WhatsApp group: <a href=\"${WA_GROUP}\">Join the Forge Community</a></p>\n<p>You will also be added to your respective Edition WhatsApp Group closer to the start of the residency, where all updates and prep will be shared.</p>\n<p><strong>Balance Payment</strong><br>Details regarding your balance payment, venue, and dates will be shared with you in the next email, so stay tuned.</p>\n<p>If you have any questions or need support, reach out anytime:<br>Email: <a href=\"mailto:forge@leveluplearning.in\">forge@leveluplearning.in</a><br>WhatsApp: Hiresh — 9840203604 (Program Lead) | Sashank — 7338992170 (Head of Admissions)</p>\n<p>Builders often tell us that the Forge changed how they think about what is possible for them, and helped them adopt a way of working with AI that they still use every single day.</p>\n<p>Welcome to the Forge, Builder. The shift starts now.</p>\n<p>With warmth and excitement,<br>Team Forge by LevelUp Learning.</p>`\n  },\n  'FC': {\n    contentName: 'forge_creators',\n    programName: 'The Forge Creator Residency',\n    pdfLink:     driveLink('1aBArF-HuL8Uc4QUYGXqySnWEaewsDxwh'),\n    subject:     'Welcome to The Forge Creator Residency — Your Seat is Confirmed',\n    body: `<p>Dear {{name}},</p>\n<p>Welcome to The Forge Creator Residency!</p>\n<p>Congratulations, your seat is officially confirmed!</p>\n<p>Your confirmation payment has locked in your spot, and you're now part of a tribe of creators and founders who are about to transform their social media presence and build powerful personal brands together.</p>\n<p>At Forge, you don't just learn content creation, you live it. From strategy to execution, you'll develop your unique voice, craft compelling content, and grow your audience alongside ambitious creators and founders from across the country.</p>\n<p>Over the residency program, you'll collaborate, experiment, and build the personal brand you've always envisioned, and in the process, discover what it truly means to be a creator in today's digital landscape.</p>\n<p><strong>Here's what happens next:</strong></p>\n<p><strong>Your Welcome Guide</strong><br>We've prepared a Welcome Guide that walks you through what to expect at the residency, from your daily schedule to a sneak peek of the experience that awaits you. <a href=\"{{pdfLink}}\">Click here to view your Welcome Guide</a>. Trust us, it will get you excited!</p>\n<p><strong>Join the Inner Circle</strong><br>You're now part of the LevelUp Inner Circle, your private creator community where you'll connect with mentors, alumni, and your cohort — collaborators who'll stay with you long after the residency ends. Get access to our online community discussions and workshops, along with invites to exclusive events and collaborations.</p>\n<p><strong>Balance Payment</strong><br>Details regarding your balance payment, venue, and dates will be shared with you in the next email, so stay tuned.</p>\n<p>Here's the link to the Community WhatsApp Group: <a href=\"${WA_GROUP}\">Join the Forge Community</a></p>\n<p>Don't worry, you will also be added to the Cohort WhatsApp Group closer to the start of the program, where all the updates and info will be shared.</p>\n<p>Now, if you have any doubts regarding what's next or anything else for that matter, feel free to reach out to us:<br>Email: <a href=\"mailto:forge@leveluplearning.in\">forge@leveluplearning.in</a><br>WhatsApp: Hiresh — 9840203604 (Program Lead) | Sashank — 7338992170 (Head of Admissions)</p>\n<p>Our Alumni refer to the Forge as a once-in-a-lifetime experience, so brace yourself!</p>\n<p>Get ready to create, connect, and Forge your path!</p>\n<p>Your Loudest Cheerleader,<br>Team Forge by LevelUp Learning.</p>`\n  }\n};\n\nconst config = PROGRAM_CONFIG[product];\nif (!config) {\n  throw new Error('Forge Confirmation Email: unsupported product code: ' + product + '. Configured: FW, FC, FFM, FAI.');\n}\nif (!email) {\n  throw new Error('Forge Confirmation Email: missing email_1 in webhook body.');\n}\n\nfunction replacePlaceholders(text) {\n  return String(text)\n    .replace(/\\{\\{name\\}\\}/g, name)\n    .replace(/\\{\\{programName\\}\\}/g, config.programName)\n    .replace(/\\{\\{pdfLink\\}\\}/g, config.pdfLink)\n    .replace(/\\{\\{amount\\}\\}/g, amount);\n}\n\n// Build the body, then inject the Forge App access block right after the\n// \"Welcome Guide\" paragraph (uniform across all cohorts).\nlet bodyHtml = replacePlaceholders(config.body);\nconst marker = 'Welcome Guide</a>';\nconst mIdx = bodyHtml.indexOf(marker);\nif (mIdx !== -1) {\n  const pEnd = bodyHtml.indexOf('</p>', mIdx);\n  const at = pEnd !== -1 ? pEnd + 4 : bodyHtml.length;\n  bodyHtml = bodyHtml.slice(0, at) + APP_ACCESS + bodyHtml.slice(at);\n} else {\n  bodyHtml = bodyHtml + APP_ACCESS;\n}\n\nreturn [{\n  json: {\n    productCode: product,\n    contentName: config.contentName,\n    programName: config.programName,\n    pdfLink:     config.pdfLink,\n    toEmail:     email,\n    toName:      name,\n    phone:       phone,\n    password:    password,\n    subject:     replacePlaceholders(config.subject),\n    bodyHtml:    bodyHtml,\n    amount:      amount\n  }\n}];"
      },
      "id": "n2",
      "name": "Build Email Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tprvyhzpecopryylxznm.supabase.co/functions/v1/forge-onboard-student",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-forge-secret",
              "value": "forge123"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ student_id: $('Build Email Payload').first().json.toEmail, email: $('Build Email Payload').first().json.toEmail, full_name: $('Build Email Payload').first().json.toName, phone: $('Build Email Payload').first().json.phone, product: $('Build Email Payload').first().json.productCode, payment_amount: 15000, cohort_type: $('Build Email Payload').first().json.productCode }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "n3",
      "name": "Onboard Student",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Build Email Payload').first().json.toEmail }}",
        "subject": "={{ $('Build Email Payload').first().json.subject }}",
        "emailType": "html",
        "message": "={{ $('Build Email Payload').first().json.bodyHtml }}",
        "options": {
          "appendAttribution": false,
          "replyTo": "forge@leveluplearning.in"
        }
      },
      "id": "n4",
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        520,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL",
          "name": "Gmail (forge@leveluplearning.in)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build one audit-log row from the Build payload + the onboarding response.\nconst b = $('Build Email Payload').first().json;\nlet onboarded = 'n/a';\ntry {\n  const r = $('Onboard Student').first().json || {};\n  onboarded = r.status || r.error || 'n/a';\n} catch (e) { onboarded = 'n/a'; }\n\nreturn [{ json: {\n  'Timestamp':  new Date().toISOString().replace('T', ' ').slice(0, 19),\n  'Email':      b.toEmail    || '',\n  'Name':       b.toName     || '',\n  'Product':    b.productCode || '',\n  'Program':    b.programName || '',\n  'Amount':     b.amount     || '',\n  'Password':   b.password   || '',\n  'Onboarded':  onboarded,\n  'EmailSent':  'sent',\n  'Subject':    b.subject    || ''\n}}];"
      },
      "id": "n5",
      "name": "Prep Log Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/a/macros/leveluplearning.in/s/AKfycbyK9kXm17Ms1eUHKwk-OeeKO_GsEV0GGvHmXIn6ubiSEdK0WohrFIMiDZ6tbJQRIMdX/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "n6",
      "name": "Log to Audit Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (from TeleCRM)": {
      "main": [
        [
          {
            "node": "Build Email Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Payload": {
      "main": [
        [
          {
            "node": "Onboard Student",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboard Student": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Prep Log Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Log Row": {
      "main": [
        [
          {
            "node": "Log to Audit Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}