n8n/forge-onboarding.workflow.json
{
  "name": "Forge — Sheet → App Onboarding & Payment Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 5 }
          ]
        }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Every 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 300]
    },
    {
      "parameters": {
        "url": "=https://docs.google.com/spreadsheets/d/{{ $env.GOOGLE_SHEET_ID }}/gviz/tq?tqx=out:csv&sheet={{ encodeURIComponent($env.GOOGLE_SHEET_TAB || '') }}",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Fetch Sheet CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [40, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===== COLUMN MAP — matches your sheet headers EXACTLY =====\n// Sheet: forgeApp 15k automation n8n\n// Columns: Timestamp | Email | Name | Edition | Payment | Product | Action | Status | Details\nconst COL = {\n  email:        'Email',\n  full_name:    'Name',\n  product:      'Product',   // FFM | FC | FW | FAI\n  payment:      'Payment',   // the column your team updates\n  edition_name: 'Edition',   // e.g. 'Forge Filmmaking E18 Goa'\n  // These columns are optional — add them to the sheet if you want finer control:\n  phone:        'Phone',     // not required\n  city:         'City',      // student's city\n  edition_id:   '',          // leave blank — auto-resolved from edition name\n  edition_city: '',          // leave blank — derived from edition name if possible\n};\n// ── Cohort type is AUTO-DERIVED from Product — no extra column needed ──\n// FFM → FORGE | FC → FORGE_CREATORS | FW → FORGE_WRITING | FAI → FORGE_AI\nconst PRODUCT_COHORT = { FFM: 'FORGE', FC: 'FORGE_CREATORS', FW: 'FORGE_WRITING', FAI: 'FORGE_AI' };\n// ── Payment column values — add your exact wording here ──\nconst BALANCE_PAID_VALUES  = ['balance paid', 'full paid', 'paid 50', '50000', 'completed', 'balance'];\nconst CONFIRMED_15K_VALUES = ['15k', 'deposit', 'confirmed', '15000', 'slot confirmed', 'advance'];\nconst DEFERRED_VALUES      = ['defer', 'waitlist', 'postpone', 'hold'];\n// ============================================================\n\nconst body = $input.first().json.data ?? $input.first().json.body ?? $input.first().binary?.data ?? '';\nconst text = typeof body === 'string' ? body : '';\n\nfunction parseCSV(t) {\n  const rows = []; let row = [], cell = '', q = false;\n  for (let i = 0; i < t.length; i++) {\n    const c = t[i], n = t[i + 1];\n    if (q) {\n      if (c === '\"' && n === '\"') { cell += '\"'; i++; }\n      else if (c === '\"') q = false;\n      else cell += c;\n    } else if (c === '\"') q = true;\n    else if (c === ',') { row.push(cell.trim()); cell = ''; }\n    else if (c === '\\n' || (c === '\\r' && n === '\\n')) { if (c === '\\r') i++; row.push(cell.trim()); cell = ''; if (row.some(x => x !== '')) rows.push(row); row = []; }\n    else cell += c;\n  }\n  if (cell || row.length) { row.push(cell.trim()); if (row.some(x => x !== '')) rows.push(row); }\n  return rows;\n}\n\nconst parsed = parseCSV(text);\nif (parsed.length < 2) return [];\nconst headers = parsed[0];\nconst idx = (name) => name ? headers.findIndex(h => h.trim().toLowerCase() === name.trim().toLowerCase()) : -1;\nconst get = (r, name) => { const i = idx(name); return i >= 0 ? (r[i] || '') : ''; };\nconst norm = (s) => (s || '').toString().trim().toLowerCase();\n\nconst out = [];\nfor (let i = 1; i < parsed.length; i++) {\n  const r = parsed[i];\n  const email = norm(get(r, COL.email));\n  if (!email || !email.includes('@')) continue;\n\n  const payRaw = norm(get(r, COL.payment));\n  let payment_status = null;\n  if (BALANCE_PAID_VALUES.some(v => payRaw.includes(v)))       payment_status = 'BALANCE_PAID';\n  else if (CONFIRMED_15K_VALUES.some(v => payRaw.includes(v))) payment_status = 'CONFIRMED_15K';\n  else if (DEFERRED_VALUES.some(v => payRaw.includes(v)))      payment_status = 'DEFERRED';\n  if (!payment_status) continue;\n\n  const product = (get(r, COL.product) || 'FFM').trim().toUpperCase();\n  // Auto-derive cohort_type from product — no Cohort Type column needed in sheet\n  const cohort_type = PRODUCT_COHORT[product] || 'FORGE';\n\n  const json = {\n    student_id:   email,\n    email,\n    full_name:    get(r, COL.full_name),\n    phone:        get(r, COL.phone) || undefined,\n    city:         get(r, COL.city)  || undefined,\n    product,\n    payment_status,\n    edition_id:   get(r, COL.edition_id)   || undefined,\n    edition_name: get(r, COL.edition_name) || undefined,\n    edition_city: get(r, COL.edition_city) || undefined,\n    cohort_type,  // always set — derived from product\n  };\n  json._onboardable = payment_status === 'CONFIRMED_15K' || payment_status === 'BALANCE_PAID';\n  out.push({ json });\n}\nreturn out;"
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Parse & Classify Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._onboardable }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Onboardable?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [520, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/forge-onboard-student",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-forge-secret", "value": "={{ $env.FORGE_AUTOMATION_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ student_id: $json.student_id, email: $json.email, full_name: $json.full_name, phone: $json.phone, city: $json.city, product: $json.product, payment_amount: 15000, edition_id: $json.edition_id, edition_name: $json.edition_name, edition_city: $json.edition_city, cohort_type: $json.cohort_type }) }}",
        "options": { "response": { "response": { "neverError": true, "responseFormat": "json" } } }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Onboard Student",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 100]
    },
    {
      "parameters": {
        "jsCode": "// Build a clean log row combining the original student data + onboarding API response.\nreturn $input.all().map(item => {\n  const resp = item.json;           // response from forge-onboard-student\n  const orig = $('Onboardable?').item.json;  // original student data\n  return {\n    json: {\n      'Timestamp':  new Date().toISOString().replace('T', ' ').slice(0, 19),\n      'Email':      orig.email      || '',\n      'Name':       orig.full_name  || '',\n      'Edition':    orig.edition_name || orig.edition_id || '',\n      'Payment':    orig.payment_status || '',\n      'Product':    orig.product    || '',\n      'Action':     'Onboarding',\n      'Status':     resp.status     || 'unknown',\n      'Details':    resp.message    || resp.error || JSON.stringify(resp).slice(0, 300)\n    }\n  };\n});"
      },
      "id": "99999999-9999-9999-9999-999999999901",
      "name": "Prep Onboard Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Logs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      },
      "id": "99999999-9999-9999-9999-999999999902",
      "name": "Write Onboard Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1240, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "e1",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "skipped",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "e2",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "failed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Onboard Failed?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [1480, 100]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  console.warn('[forge-onboard] FAILED for', item.json.Email, '→', item.json.Status, ':', item.json.Details);\n}\nreturn $input.all();"
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Log Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://tprvyhzpecopryylxznm.supabase.co/functions/v1/sync-payment-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-forge-secret", "value": "={{ $env.FORGE_AUTOMATION_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, payment_status: $json.payment_status }) }}",
        "options": { "response": { "response": { "neverError": true, "responseFormat": "json" } } }
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Sync Payment Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 500]
    },
    {
      "parameters": {
        "jsCode": "// Build a clean log row for payment sync events.\nreturn $input.all().map(item => {\n  const orig = $('Parse & Classify Rows').item.json;\n  return {\n    json: {\n      'Timestamp':  new Date().toISOString().replace('T', ' ').slice(0, 19),\n      'Email':      orig.email         || '',\n      'Name':       orig.full_name     || '',\n      'Edition':    orig.edition_name  || '',\n      'Payment':    orig.payment_status || '',\n      'Product':    orig.product       || '',\n      'Action':     'Payment Sync',\n      'Status':     'synced',\n      'Details':    `${orig.payment_status} → unlock_level: ${orig.payment_status === 'BALANCE_PAID' ? 'FULL' : 'PREVIEW'}`\n    }\n  };\n});"
      },
      "id": "99999999-9999-9999-9999-999999999903",
      "name": "Prep Payment Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 500]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Logs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      },
      "id": "99999999-9999-9999-9999-999999999904",
      "name": "Write Payment Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1000, 500]
    }
  ],
  "connections": {
    "Every 5 min": {
      "main": [[{ "node": "Fetch Sheet CSV", "type": "main", "index": 0 }]]
    },
    "Fetch Sheet CSV": {
      "main": [[{ "node": "Parse & Classify Rows", "type": "main", "index": 0 }]]
    },
    "Parse & Classify Rows": {
      "main": [[
        { "node": "Onboardable?",        "type": "main", "index": 0 },
        { "node": "Sync Payment Status", "type": "main", "index": 0 }
      ]]
    },
    "Onboardable?": {
      "main": [[{ "node": "Onboard Student", "type": "main", "index": 0 }]]
    },
    "Onboard Student": {
      "main": [[{ "node": "Prep Onboard Log", "type": "main", "index": 0 }]]
    },
    "Prep Onboard Log": {
      "main": [[
        { "node": "Write Onboard Log", "type": "main", "index": 0 },
        { "node": "Onboard Failed?",   "type": "main", "index": 0 }
      ]]
    },
    "Write Onboard Log": {
      "main": [[]]
    },
    "Onboard Failed?": {
      "main": [[{ "node": "Log Failures", "type": "main", "index": 0 }]]
    },
    "Sync Payment Status": {
      "main": [[{ "node": "Prep Payment Log", "type": "main", "index": 0 }]]
    },
    "Prep Payment Log": {
      "main": [[{ "node": "Write Payment Log", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
