n8n/forge-telecrm.workflow.json
{
  "name": "Forge — TeleCRM Webhook → Onboarding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "forge-telecrm",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "TeleCRM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-220, 300]
    },
    {
      "parameters": {
        "jsCode": "// ── Map TeleCRM payload → our format (shape-agnostic) ─────────────\n// TeleCRM's 'Forge App Onboarding' template uses vars like lead.name,\n// lead.email, lead.phone_number, body.payment_status, body.product, body.edition.\n// We don't know if they arrive flat, dotted ('lead.name'), or nested\n// ({lead:{name}}), so we FLATTEN everything and look up by the last key segment.\nconst root = $input.first().json.body || $input.first().json;\nconsole.log('TeleCRM payload:', JSON.stringify(root));\n\nconst flat = {};\nconst add = (k, v) => { if (v !== null && v !== undefined && typeof v !== 'object') flat[String(k).toLowerCase()] = v; };\nfor (const [k, v] of Object.entries(root || {})) {\n  if (v && typeof v === 'object' && !Array.isArray(v)) {\n    for (const [k2, v2] of Object.entries(v)) add(k2.includes('.') ? k2.split('.').pop() : k2, v2);\n  } else {\n    add(k.includes('.') ? k.split('.').pop() : k, v);\n  }\n}\nconst g = (...keys) => { for (const k of keys) { const val = flat[k.toLowerCase()]; if (val !== undefined && String(val).trim() !== '') return String(val).trim(); } return ''; };\n\nconst email        = g('email_1', 'email', 'lead_email', 'mail').toLowerCase();\n// Normalise the name → Title Case so 'ABHISHAKE KUMAR'/'abhishake kumar' → 'Abhishake Kumar'.\n// This keeps the displayed name AND the Firstname@Forge! password clean & consistent.\nconst titleCase = (s) => s.replace(/\\s+/g, ' ').trim().split(' ').map((w) => w ? w.charAt(0).toUpperCase() + w.slice(1).toLowerCase() : '').join(' ');\nconst full_name    = titleCase(g('name', 'full_name', 'lead_name'));\nconst phone        = g('phone', 'phone_number', 'mobile');\nconst edition_name = g('edition', 'edition_name');\nconst product      = (g('product') || 'FFM').toUpperCase();\nconst amount       = parseInt(g('amount').replace(/[^0-9]/g, ''), 10) || 0;\nconst raw_status   = g('payment_status', 'status', 'tag').toLowerCase();\n\nconst BALANCE_PAID  = ['balance paid', 'balance_paid', 'full paid', 'completed', 'balance', 'full'];\nconst CONFIRMED_15K = ['confirmed_15k', '15k', 'deposit', 'confirmed', 'slot', 'advance', 'token', 'booking'];\nconst DEFERRED      = ['defer', 'waitlist', 'postpone', 'hold'];\n\n// Classify by AMOUNT first (if sent), then by the status word.\nlet payment_status = null;\nif      (amount >= 50000) payment_status = 'BALANCE_PAID';\nelse if (amount >= 15000) payment_status = 'CONFIRMED_15K';\nelse if (BALANCE_PAID.some(v  => raw_status.includes(v)))  payment_status = 'BALANCE_PAID';\nelse if (CONFIRMED_15K.some(v => raw_status.includes(v)))  payment_status = 'CONFIRMED_15K';\nelse if (DEFERRED.some(v      => raw_status.includes(v)))  payment_status = 'DEFERRED';\n\nif (!email || !email.includes('@')) { console.log('No valid email in payload'); return []; }\nif (!payment_status) { console.log('Unrecognised payment — amount:', amount, 'status:', raw_status); return []; }\n\nconst PRODUCT_COHORT = { FFM: 'FFM', FC: 'FC', FW: 'FW', FAI: 'FAI' };\nconst cohort_type = PRODUCT_COHORT[product] || 'FFM';\n\nreturn [{ json: {\n  student_id:   email,\n  email,\n  full_name,\n  phone:        phone        || undefined,\n  product,\n  payment_status,\n  cohort_type,\n  edition_name: edition_name || undefined,\n  _onboardable: payment_status === 'CONFIRMED_15K' || payment_status === 'BALANCE_PAID'\n}}];"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Map TeleCRM Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [20, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json._onboardable }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Onboardable?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [260, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tprvyhzpecopryylxznm.supabase.co/functions/v1/forge-onboard-student",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-forge-secret", "value": "forge123" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ student_id: $json.student_id, email: $json.email, full_name: $json.full_name, phone: $json.phone, product: $json.product, payment_amount: 15000, edition_name: $json.edition_name, cohort_type: $json.cohort_type }) }}",
        "options": { "response": { "response": { "neverError": true, "responseFormat": "json" } } }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Onboard Student",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 160]
    },
    {
      "parameters": {
        "jsCode": "// Build a log row combining the original student data + onboarding API response.\nreturn $input.all().map(item => {\n  const resp = item.json;\n  const orig = $('Map TeleCRM Fields').item.json;\n  return { json: {\n    'Timestamp': new Date().toISOString().replace('T', ' ').slice(0, 19),\n    'Email':     orig.email        || '',\n    'Name':      orig.full_name    || '',\n    'Edition':   orig.edition_name || '',\n    'Payment':   orig.payment_status || '',\n    'Product':   orig.product      || '',\n    'Action':    'Onboarding (TeleCRM)',\n    'Status':    resp.status       || 'unknown',\n    'Details':   resp.message      || resp.error || JSON.stringify(resp).slice(0, 300)\n  }};\n});"
      },
      "id": "66666666-6666-6666-6666-666666666601",
      "name": "Prep Onboard Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/a/macros/leveluplearning.in/s/AKfycbyK9kXm17Ms1eUHKwk-OeeKO_GsEV0GGvHmXIn6ubiSEdK0WohrFIMiDZ6tbJQRIMdX/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "redirect": { "redirect": { "followRedirects": true } },
          "response": { "response": { "neverError": true, "responseFormat": "text" } }
        }
      },
      "id": "66666666-6666-6666-6666-666666666602",
      "name": "Write Onboard Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tprvyhzpecopryylxznm.supabase.co/functions/v1/sync-payment-status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-forge-secret", "value": "forge123" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ email: $json.email, payment_status: $json.payment_status }) }}",
        "options": { "response": { "response": { "neverError": true, "responseFormat": "json" } } }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Sync Payment Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 440]
    },
    {
      "parameters": {
        "jsCode": "// Build a log row for payment sync events.\nreturn $input.all().map(item => {\n  const orig = $('Map TeleCRM Fields').item.json;\n  return { json: {\n    'Timestamp': new Date().toISOString().replace('T', ' ').slice(0, 19),\n    'Email':     orig.email        || '',\n    'Name':      orig.full_name    || '',\n    'Edition':   orig.edition_name || '',\n    'Payment':   orig.payment_status || '',\n    'Product':   orig.product      || '',\n    'Action':    'Payment Sync (TeleCRM)',\n    'Status':    'synced',\n    'Details':   `${orig.payment_status} → unlock_level: ${orig.payment_status === 'BALANCE_PAID' ? 'FULL' : 'PREVIEW'}`\n  }};\n});"
      },
      "id": "66666666-6666-6666-6666-666666666603",
      "name": "Prep Payment Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://script.google.com/a/macros/leveluplearning.in/s/AKfycbyK9kXm17Ms1eUHKwk-OeeKO_GsEV0GGvHmXIn6ubiSEdK0WohrFIMiDZ6tbJQRIMdX/exec",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "redirect": { "redirect": { "followRedirects": true } },
          "response": { "response": { "neverError": true, "responseFormat": "text" } }
        }
      },
      "id": "66666666-6666-6666-6666-666666666604",
      "name": "Write Payment Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 440]
    }
  ],
  "connections": {
    "TeleCRM Webhook": {
      "main": [[{ "node": "Map TeleCRM Fields", "type": "main", "index": 0 }]]
    },
    "Map TeleCRM Fields": {
      "main": [[
        { "node": "Onboardable?",        "type": "main", "index": 0 },
        { "node": "Sync Payment Status", "type": "main", "index": 0 }
      ]]
    },
    "Onboardable?": {
      "main": [[{ "node": "Onboard Student", "type": "main", "index": 0 }]]
    },
    "Onboard Student": {
      "main": [[{ "node": "Prep Onboard Log", "type": "main", "index": 0 }]]
    },
    "Prep Onboard Log": {
      "main": [[{ "node": "Write Onboard Log", "type": "main", "index": 0 }]]
    },
    "Sync Payment Status": {
      "main": [[{ "node": "Prep Payment Log", "type": "main", "index": 0 }]]
    },
    "Prep Payment Log": {
      "main": [[{ "node": "Write Payment Log", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
